# PostgreSQL connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# Public base URL
NEXTAUTH_URL="http://localhost:3000"

# Secret for authentication
NEXTAUTH_SECRET="your-super-secret-key"